.createPerfil-main-container{
    width: 75%;
    min-height: 100vh;
    margin: 0 auto; 
    padding-top: 40px;
}

.createPerfil-main-container h2{
    color: var(--color-accent);
    margin-top: 20px;
    margin-bottom: 15px;
}

.createPerfil-main-container h3{
    margin-bottom: 18px;
}

.createPerfil-main-container input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 50%;
}

.createPerfil-main-container label{
    margin-right: 30px;
    color: white;
}

.createPerfil-main-container .text-add-style{
    margin-bottom: 0px;
}

.diet-checkbox-container{
    max-width: 60%;
}

.diet-checkbox-container label{
    display: flex;
    margin-right: 80px;
    color: white;
    user-select: none;
}

.diet-checkbox-container label input{
    margin: 5px 15px 20px 0;
}

.spicy-button{
    border: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin-right: 15px;
    cursor: pointer;
    transition: 200ms;
}

.low-spicy:hover{
    background: rgb(255, 97, 97);
    border: 1px solid rgb(255, 222, 88);
}

.high-spicy:hover{
    background: rgb(255, 59, 59);
    box-shadow: 0 -2px 5px 1px rgb(250, 178, 55);
    border: 1px solid rgb(255, 248, 59);    
}

.alergenos-container{
    max-width: 40%;
}

.calorias-rango-container{
    width: 22%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.calorias-rango-container p{
    color: white;
    font-size: 1.2rem;
}
.calorias-rango-container div{
    width: 35%;
}

.calorias-rango-container div input{
    min-width: 70%;
}

.calorias-rango-container div label{
    background: var(--color-secundary);
    border: 1px solid var(--color-accent2);
    margin: 0;
    padding: 5px;
}
.cancel-perfil-button{
    background-color: white;
    color: black;
    cursor: pointer;
}

.save-perfil-button{
    background-color: var(--color-secundary);
    color: white;
    cursor: pointer;
    padding-left: 60px;
    padding-right: 60px;
    margin-right: 30px;
}

.createPerfil-foot-container{
    width: 40%;
}

.createPerfil-foot-container button{
    transition: 200ms;
}

.createPerfil-foot-container button:hover{
    transform: scale(1.1);
}